.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__frame {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      color: $color-grey-dark-3;
      font-size: 4rem;
      text-decoration: none;
      cursor: pointer;
      display: inline-block;
      transition: all 0.3s ease-in-out;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: table;
    overflow: hidden;

    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.1s ease-in-out;

    &_left {
      width: 33.3333333%;
      display: table-cell;
      vertical-align: middle;
    }

    &_right {
      width: 66.6666667%;
      display: table-cell;
      vertical-align: middle;
      padding: 3rem 5rem;
    }
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 2rem;
    column-rule: 1px solid $color-grey-light-2;

    -moz-column-count: 2;
    -moz-column-gap: 2rem;
    -moz-column-rule: 1px solid $color-grey-light-2;

    -webkit-column-count: 2;
    -webkit-column-gap: 2rem;
    -webkit-column-rule: 1px solid $color-grey-light-2;

    hyphens: auto; // On HTML tag must be defined language
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
  }
}
