*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is (10px) on the root element (html)
  font-size: 62.5%;

  @include respond(phone) {
    font-size: 50%;
  }

  @include respond(tab-port) {
    font-size: 55%;
  }

  @include respond(tab-land) {
    font-size: 60%;
  }

  @include respond(desktop-large) {
    font-size: 80%;
  }


}

body {
  box-sizing: border-box;
}
