*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is (10px) on the root element (html)
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 60%;
  }

  @include respond(tab-port) {
    font-size: 56.25%; // 1rem = 9 px (16px / 2 (56.25%))
  }

  @include respond(phone) {
    font-size: 50%; // 1rem = 8 px (16px / 2 (50%))
  }

  @include respond(desktop-large) {
    font-size: 75%; // 1rem = 12 px (16px / 2 (75%))
  }
  
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0; // 1rem = 8 px (16px / 2 (50%))
  }


}

::selection {
  background: $color-primary;
  color: $color-white;
}