// Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light: #f7f7f7;

$color-grey-dark: #777;
$color-white: #ffffff;
$color-black: #000000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 2rem;
